$radius: 4px;

$darkblue-deep: #085081;
$darkblue-normal: #1f5e91;
$darkblue-light: #2f6e91;

$skyblue-deep: #138ef4;
$skyblue-normal: #11A0FF;
$skyblue-light: #88CFFF;

$red-deep: #ee0000;
$red-normal: #ff2222;
$red-light: #ff5555;

$green-deep: #1DC09F;
$green-normal: #31DFBD;
$green-light: #89EDD9;

$yellow-deep: #5FEE00;
$yellow-normal: #66FF00;
$yellow-light: #B8FF88;

$orange-deep: #EE8F00;
$orange-normal: #FFAD33;
$orange-light: #FFC266;

$grey-deep: #8b8b8b;
$grey-normal: #b3abab;
$grey-light: #a3ebeb;
